:root {
  /* Colors - Brand & Primary */
  --color-primary: #213448;
  --color-secondary: #ffca28;
  --color-primary-contrast: #ffffff; // Text color on top of primary
  
  /* Colors - Navigation & Text */
  --color-app-bg: #354245;    
  --color-nav-active: #ffca28; // secondary
  --color-text-muted: #ffffff;
  
  /* Colors - Backgrounds & Borders */
  --color-bg-footer: #907f38; //  // mix of primary and secondary
  --color-border-header: #b5aa7a; // mix of primary, secondary and white
  --color-border-footer: #b5aa7a;  // mix of primary, secondary and white

  /* Layout Spacing */
  --header-height: 64px;
  --footer-height: 48px;
  --content-max-width: 1200px;
  --container-padding: 24px;
}