/* You can add global styles to this file, and also import other style files */

@use './styles/_variables';

@use "bootstrap/scss/bootstrap";


html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
}
.text-y {
    color: var(--color-secondary);
}